.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pokemon-screen {
  flex-direction: column;
  justify-content: center;
  height: 100%;
  border: 3px solid blue;
  position: absolute;
  width: 1000px;
  top: 0%;
  right: 0%;
  background-color: #fff;
  position: fixed
  
  }
.pokemon-screen .close-button {
  position: absolute;
  font-size: 500%;
  top:0;
  text-decoration: none;
  color: teal;
}
.pokemon-screen .char-portrait {
  position: absolute;
  top: 25px;
  right: 100px;
  
}
.pokemon-screen > * {
  font-size: 24px
  
}

ul {
  columns: 6;
  font-size: 20px
}

.name-fg {
  font-family: monospace;
  font-size: 5em;
  position: absolute;
  top: 420px;
  left: 520px;
}

#sizing {
  text-align: center;
  font-size: 2em;
  font-style: normal
}

#textsize {
  text-align: center;
}

