
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#pokemon-screen {
  flex-direction: column;
  justify-content: center;
  height: 100%;
  border: 3px solid blue;
  position: fixed;
  width: 75%;
  top: 0%;
  right: 0%;
  background-color: #fff
  
  }
#pokemon-screen .close-button {
  position: fixed;
  font-size: 250%;
  top:0;
  text-decoration: none;
}
#pokemon-screen .char-portrait {
  position: fixed;
  top: 3%;
  right: 17%
}
#pokemon-screen .name-fg {
    position: fixed;
    top: 37.5%;
    left: 60%
}

ul {
  font-size: 80%;
  columns: 10
}

.name-fg {
  font-style: italic;
  font-size: 5em;
  position: flex;
  left: 8%;
  font-family: 'Bebas Neue', cursive;
}

#sizing {
  text-align: center;
  font-size: 2em;
  font-style: normal
}

#textsize {
  text-align: center;
}

